* {
    /* border: solid 1px black; */
    margin: 10px;
}

body { 
    background-color: black;
    background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 160%
    );
    height: 100vh;
    text-shadow: 0 0 5px #C8C8C8;
    color: white;
    font-family: monospace;
}

h1 {
    font-size: xx-large;
}

p {
    font-size: x-large;
}

button {
    background-color: black;
    background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 160%
    );
    text-shadow: 0 0 5px #C8C8C8;
    color: white;
    font-family: monospace;
    font-size: xx-large;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score {
    display: flex;
    justify-content: space-between;
    
}

.results {
    font-size: 20px;
}